@import './variables';

@mixin number-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin text-font($line-height: 16px, $font-weight: 400) {
  font-weight: $font-weight;
  font-size: 12px;
  line-height: $line-height;
}
