@import 'styles/mixins';

.item {
  @include text-font(20px);

  padding: 6px 8px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:first-child {
    margin-top: 0;
  }

  &__prefix {
    color: $text-color;
    margin-left: 4px;
  }

  &__name {
    color: $grey-text-color;
    margin-left: 4px;
  }

  &_selected {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      rgba(62, 102, 251, 0.25);
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      rgba(62, 102, 251, 0.1);
  }
}
