@import 'styles/variables';

.country-selector {
  position: relative;

  &__input {
    width: fit-content;
    display: flex;
    align-items: center;

    &-flag {
      margin-right: $indent-xs;
    }

    &-icon {
      margin-left: $indent-l;
      cursor: pointer;
    }
  }
}
