@import 'styles/mixins';

.number-input {
  width: 32px;
  text-align: center;

  &:focus {
    text-align: start;
  }

  &:focus::placeholder {
    padding-left: 3px;
  }

  &:valid {
    text-align: center;
  }
}
